//usual global css styles html, body, *, *::before, *::after, etc
@import "./variables.scss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
  @media (max-width: 768px) {
    font-size: 50%;
  }
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
  min-height: 100%;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}